:root {
  --primary-color: #0a66c2;
  --primary-color-light-100: #2275c8;
  --primary-color-light-200: #3b85ce;
  --primary-color-light-300: #5494d4;
  --primary-color-light-400: #6ca3da;
  --primary-color-light-500: #85b3e1;
  --primary-color-light-600: #9dc2e7;
  --primary-color-dark-100: #095caf;
  --primary-color-dark-200: #08529b;
  --primary-color-dark-300: #074788;
  --primary-color-dark-400: #063d74;
  --primary-color-dark-500: #053361;
  --primary-color-dark-600: #04294e;
  --primary-color-trans-100: #095cafcc;
  --primary-color-trans-200: #095cafaa;
  --primary-color-trans-300: #095caf88;
  --primary-color-trans-400: #095caf66;
  --primary-color-trans-500: #095caf44;
  --primary-color-trans-600: #095caf22;
}
